@charset "UTF-8";
.pai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1c1c1c;
  width: 100vw;
  height: 100vh;
}
.pai .filho {
  width: 700px;
  height: 500px;
  border-radius: 20px;
  margin-top: 150px;
  background-color: #e6e6e6;
  color: #1c1c1c;
  padding-left: 10px;
  margin-bottom: 6px;
  overflow: hidden;
  overflow-y: scroll;
}
.pai .filho .formulario {
  width: 700px;
  display: flex;
  justify-content: space-around;
}
.pai .filho .formulario .input {
  margin-right: 15px;
  border-radius: 10px;
}
.pai .filho .formulario .botao {
  width: 100px;
  border-radius: 5px;
}
.pai .filho .formulario .botao:hover {
  cursor: pointer;
}
.pai .cabeçalho {
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  background-color: #e6e6e6;
  color: black;
  text-align: center;
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
}
.pai .links {
  color: #1c1c1c;
  width: 700px;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #1c1c1c;
}
.pai .filho, .pai .formulario, .pai .links {
  width: 80%;
}
@media all and (max-width: 800px) {
  .pai .filho, .pai .formulario, .pai .links {
    width: 90%;
  }
  .pai .formulario {
    flex-direction: column;
    align-items: center;
  }
  .pai .formulario .input {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 600px) {
  .pai body {
    font-size: 18px;
  }
  .pai .pai, .pai .filho, .pai .cabeçalho, .pai .formulario, .pai .input, .pai .botao, .pai .botao:hover, .pai .links {
    width: 70%;
  }
  .pai .filho {
    margin-top: 80px;
  }
  .pai .formulario {
    padding: 15px;
  }
}
@media all and (max-width: 320px) {
  .pai body {
    font-size: 18px;
  }
  .pai .filho, .pai .formulario, .pai .links {
    width: 50%;
  }
  .pai .filho {
    margin-top: 10px;
  }
  .pai .formulario {
    padding: 15px;
  }
  .pai .formulario .input {
    margin-right: 0;
    margin-bottom: 8px;
  }
  .pai .formulario .botao {
    max-width: 120px;
  }
}


  